.container-nav {
  background-color: black;
}
.nav-home {
  color: white;
}
.nav-about {
  color: white;
}
.nav-history {
  color: white;
}
.nav-ourwork {
  color: white;
}
.nav-team {
  color: white;
}
.nav-services {
  color: white;
}
.nav-blog {
  color: white;
}
.nav-testimonials {
  color: white;
}
.nav-contact {
  color: white;
}
.icon-color{
    color: yellowgreen;
}